/*banner styles*/
.banner{
    padding: 50px 240px 0px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(229, 84, 115, 0.10);
}
.banner-img{
   width: 635px;
   height: 800px;
}
.banner-title{
    color: #272727;
font-family: Lato;
font-size: 80px;
font-weight: 800;
margin-bottom: 32px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 32px;
}
.banner-btn{
    border-radius: 8px;
background: #E55473;
color: #FFF;
font-family: Lato;
font-size: 20px;
font-weight: 700px;
padding: 20px 43px;
border-color: #FFF;
}
.banner-content{
    max-width: 650px;
}
/*hot deal section*/
.hot-deal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(229, 84, 115, 0.10);
    margin: 128px 0px;
    padding: 100px 430px 100px 395px;
}
.hot-title{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-weight: 800;
}
.hot-title-off{
    color:  #E55473;;
}
/*insta section*/
.insta-head{
    text-align: center;
}
.insta-description{
   margin-bottom: 48px;
}
.insta-image-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 24px;
  }
  /*deal section*/
  .deal{
    text-align: center;
  }
  .deal-image{
    background-image: url(../styles/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin: 128px;
    padding-bottom: 123px;
    padding-top: 122px;
  }
  .input-email{
    width: 700px;
height: 64px;
  }
  /*footer styles*/
  .footer-title{
font-family: Lato;
font-size: 48px;
font-weight: 800;
color: #FFF;
  }
  .footer-description{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-weight: 400;
  }
.footer-container{
    text-align: center;
    justify-content: center;
    background-color: #111010;;
    padding: 128px 600px;
}
.footer-text{
    color: rgba(255, 255, 255, 0.90);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
/*flower section*/
.flower-title{
    text-align: center;
    margin-top: 178px;
}
.flower-img{
    display: flex;
   
}

#one{
    background: rgba(167, 33, 98, 0.15);
padding: 110px 78px 0px 75px; 
border-radius: 300px 300px 0px 0px;
}
.flower-img-container{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 24px;
}
#two{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
padding: 117px 47px 51px 47px;
}
#three{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
padding: 67px 75px 0px 75px;
}
.flower-under-text{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
display: flex;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
justify-content: center;

}
#one-text{
    padding-right: 350px;
}
#two-text{
    padding-right: 307px;
}
#three-text{
    padding-right: 5px;
}
#b-one{
    padding-bottom: 48px;
    padding-top: 0px;
}
#b-two{padding-bottom: 0px;}
/*about us section8*/
.about-us-text-container{
    text-align: center;
}
.about-us{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin: 128px 0px;
    padding: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#about-img{
    width: 318px;
height: 420px;

}